{% extends 'base.html' %}

{% block title %}
<title>Ремонт сервис</title>
{% endblock %}

{% block body %}
<main>

  <section>
    <div class="container px-5">
      <h2 class="text-black display-1 lh-1 mb-4 text-center">
        Не жди.
        <br />
        Оставь заявку на ремонт.
      </h2>
      <a class="btn btn-outline-primary"
        style="margin-left: 480px; height: 60px; width: 240px; padding-top: 10px; font-size: 24px" href="/createClient"
        target="_blank">Оставить
        заявку</a>
    </div>
  </section>

  <section style="margin-left: 320px; margin-top: 30px">
    <div class="container px-5">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-8 order-lg-1 mb-5 mb-lg-0">
          <div class="container-fluid px-5">
            <div class="row gx-5">
              <div class="col-md-6 mb-5">
                <div class="text-center">
                  <i class="bi-phone icon-feature text-gradient d-block mb-3" style="font-size: 40px;"></i>
                  <h3 class="font-alt">Смартфоны</h3>
                  <p class="text-muted mb-0">Сломался экран, не работает камера?</p>
                </div>
              </div>
              <div class="col-md-6 mb-5">
                <div class="text-center">
                  <i class="bi-laptop icon-feature text-gradient d-block mb-3" style="font-size: 40px;"></i>
                  <h3 class="font-alt">Ноутбуки</h3>
                  <p class="text-muted mb-0">Не включается, не держит зарядку?</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-5 mb-md-0">
                <div class="text-center">
                  <i class="bi-tablet icon-feature text-gradient d-block mb-3" style="font-size: 40px;"></i>
                  <h3 class="font-alt">Планшеты</h3>
                  <p class="text-muted mb-0">Не заряжается, не работает камера?</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="text-center">
                  <i class="bi-patch-check icon-feature text-gradient d-block mb-3" style="font-size: 40px;"></i>
                  <h3 class="font-alt">Другие устройства</h3>
                  <p class="text-muted mb-0">Починим все, что сможем!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
{% endblock %}